In [1]:
# importing the library

import pandas as pd

In [2]:
# Reading the CSV file into a Dataframe

data = pd.read_csv("cost_revenue_dirty.csv")

In [3]:
# Dropping the rows that has value of 0$ in the Domstic Gross

for x in data.index:
  if (data.loc[x, 'Domestic Gross ($)'] == '$0'):
    data.drop(x, inplace=True)
print(data)

      Rank Release Date                       Movie Title  \
0     5293     8/2/1915             The Birth of a Nation
2     5230   12/24/1916      20,000 Leagues Under the Sea
3     5299    9/17/1920    Over the Hill to the Poorhouse
4     5222     1/1/1925                    The Big Parade
5     4250   12/30/1925                           Ben-Hur
...    ...          ...                               ...
5378   914    10/2/2017               Fifty Shades Darker
5379  1295    10/2/2017            John Wick: Chapter Two
5380    70    10/3/2017                Kong: Skull Island
5381    94    12/5/2017  King Arthur: Legend of the Sword
5382  1254    12/5/2017                          Snatched

     Production Budget ($) Worldwide Gross ($) Domestic Gross ($)
0                 $110,000         $11,000,000        $10,000,000
2                 $200,000          $8,000,000         $8,000,000
3                 $100,000          $3,000,000         $3,000,000
4                 $245,000         $22,000,000        $11,000,000
5               $3,900,000          $9,000,000         $9,000,000
...                    ...                 ...                ...
5378           $55,000,000        $376,856,949       $114,434,010
5379           $40,000,000        $166,893,990        $92,029,184
5380          $185,000,000        $561,137,727       $168,052,812
5381          $175,000,000        $140,012,608        $39,175,066
5382           $42,000,000         $57,850,343        $45,850,343

[4879 rows x 6 columns]

In [4]:
# Replacing the in dollar sign in the (Vlaues) with no_char

for x in data.index:
  data['Worldwide Gross ($)'] = data['Worldwide Gross ($)'].str.replace('$', '')
print(data)

      Rank Release Date                       Movie Title  \
0     5293     8/2/1915             The Birth of a Nation
2     5230   12/24/1916      20,000 Leagues Under the Sea
3     5299    9/17/1920    Over the Hill to the Poorhouse
4     5222     1/1/1925                    The Big Parade
5     4250   12/30/1925                           Ben-Hur
...    ...          ...                               ...
5378   914    10/2/2017               Fifty Shades Darker
5379  1295    10/2/2017            John Wick: Chapter Two
5380    70    10/3/2017                Kong: Skull Island
5381    94    12/5/2017  King Arthur: Legend of the Sword
5382  1254    12/5/2017                          Snatched

     Production Budget ($) Worldwide Gross ($) Domestic Gross ($)
0                 $110,000          11,000,000        $10,000,000
2                 $200,000           8,000,000         $8,000,000
3                 $100,000           3,000,000         $3,000,000
4                 $245,000          22,000,000        $11,000,000
5               $3,900,000           9,000,000         $9,000,000
...                    ...                 ...                ...
5378           $55,000,000         376,856,949       $114,434,010
5379           $40,000,000         166,893,990        $92,029,184
5380          $185,000,000         561,137,727       $168,052,812
5381          $175,000,000         140,012,608        $39,175,066
5382           $42,000,000          57,850,343        $45,850,343

[4879 rows x 6 columns]

In [5]:
# Replacing the in comma in the (Vlaues) with no_char

for x in data.index:
  data['Worldwide Gross ($)'] = data['Worldwide Gross ($)'].str.replace(',', '')
print(data)

      Rank Release Date                       Movie Title  \
0     5293     8/2/1915             The Birth of a Nation
2     5230   12/24/1916      20,000 Leagues Under the Sea
3     5299    9/17/1920    Over the Hill to the Poorhouse
4     5222     1/1/1925                    The Big Parade
5     4250   12/30/1925                           Ben-Hur
...    ...          ...                               ...
5378   914    10/2/2017               Fifty Shades Darker
5379  1295    10/2/2017            John Wick: Chapter Two
5380    70    10/3/2017                Kong: Skull Island
5381    94    12/5/2017  King Arthur: Legend of the Sword
5382  1254    12/5/2017                          Snatched

     Production Budget ($) Worldwide Gross ($) Domestic Gross ($)
0                 $110,000            11000000        $10,000,000
2                 $200,000             8000000         $8,000,000
3                 $100,000             3000000         $3,000,000
4                 $245,000            22000000        $11,000,000
5               $3,900,000             9000000         $9,000,000
...                    ...                 ...                ...
5378           $55,000,000           376856949       $114,434,010
5379           $40,000,000           166893990        $92,029,184
5380          $185,000,000           561137727       $168,052,812
5381          $175,000,000           140012608        $39,175,066
5382           $42,000,000            57850343        $45,850,343

[4879 rows x 6 columns]

In [6]:
# Replacing the in dollar sign in the (Vlaues) with no_char

for x in data.index:
  data['Production Budget ($)'] = data['Production Budget ($)'].str.replace('$', '')
print(data)

      Rank Release Date                       Movie Title  \
0     5293     8/2/1915             The Birth of a Nation
2     5230   12/24/1916      20,000 Leagues Under the Sea
3     5299    9/17/1920    Over the Hill to the Poorhouse
4     5222     1/1/1925                    The Big Parade
5     4250   12/30/1925                           Ben-Hur
...    ...          ...                               ...
5378   914    10/2/2017               Fifty Shades Darker
5379  1295    10/2/2017            John Wick: Chapter Two
5380    70    10/3/2017                Kong: Skull Island
5381    94    12/5/2017  King Arthur: Legend of the Sword
5382  1254    12/5/2017                          Snatched

     Production Budget ($) Worldwide Gross ($) Domestic Gross ($)
0                  110,000            11000000        $10,000,000
2                  200,000             8000000         $8,000,000
3                  100,000             3000000         $3,000,000
4                  245,000            22000000        $11,000,000
5                3,900,000             9000000         $9,000,000
...                    ...                 ...                ...
5378            55,000,000           376856949       $114,434,010
5379            40,000,000           166893990        $92,029,184
5380           185,000,000           561137727       $168,052,812
5381           175,000,000           140012608        $39,175,066
5382            42,000,000            57850343        $45,850,343

[4879 rows x 6 columns]

In [7]:
# Replacing the in comma sign in the (Vlaues) with no_char

for x in data.index:
  data['Production Budget ($)'] = data['Production Budget ($)'].str.replace(',', '')
print(data)

      Rank Release Date                       Movie Title  \
0     5293     8/2/1915             The Birth of a Nation
2     5230   12/24/1916      20,000 Leagues Under the Sea
3     5299    9/17/1920    Over the Hill to the Poorhouse
4     5222     1/1/1925                    The Big Parade
5     4250   12/30/1925                           Ben-Hur
...    ...          ...                               ...
5378   914    10/2/2017               Fifty Shades Darker
5379  1295    10/2/2017            John Wick: Chapter Two
5380    70    10/3/2017                Kong: Skull Island
5381    94    12/5/2017  King Arthur: Legend of the Sword
5382  1254    12/5/2017                          Snatched

     Production Budget ($) Worldwide Gross ($) Domestic Gross ($)
0                   110000            11000000        $10,000,000
2                   200000             8000000         $8,000,000
3                   100000             3000000         $3,000,000
4                   245000            22000000        $11,000,000
5                  3900000             9000000         $9,000,000
...                    ...                 ...                ...
5378              55000000           376856949       $114,434,010
5379              40000000           166893990        $92,029,184
5380             185000000           561137727       $168,052,812
5381             175000000           140012608        $39,175,066
5382              42000000            57850343        $45,850,343

[4879 rows x 6 columns]

In [8]:
# Assinging just the 2 needed columns and printing them

data = data[['Production Budget ($)', 'Worldwide Gross ($)']]
print(data)

     Production Budget ($) Worldwide Gross ($)
0                   110000            11000000
2                   200000             8000000
3                   100000             3000000
4                   245000            22000000
5                  3900000             9000000
...                    ...                 ...
5378              55000000           376856949
5379              40000000           166893990
5380             185000000           561137727
5381             175000000           140012608
5382              42000000            57850343

[4879 rows x 2 columns]

In [9]:
# All columns names to lower

data.columns = data.columns.str.lower()
print(data)

     production budget ($) worldwide gross ($)
0                   110000            11000000
2                   200000             8000000
3                   100000             3000000
4                   245000            22000000
5                  3900000             9000000
...                    ...                 ...
5378              55000000           376856949
5379              40000000           166893990
5380             185000000           561137727
5381             175000000           140012608
5382              42000000            57850343

[4879 rows x 2 columns]

In [10]:
# Replacing the in dollar sign in the (Column Name) with no_char

data.columns = data.columns.str.replace('$', '')
print(data)

     production budget () worldwide gross ()
0                  110000           11000000
2                  200000            8000000
3                  100000            3000000
4                  245000           22000000
5                 3900000            9000000
...                   ...                ...
5378             55000000          376856949
5379             40000000          166893990
5380            185000000          561137727
5381            175000000          140012608
5382             42000000           57850343

[4879 rows x 2 columns]

In [11]:
# Replacing the Left_Bracket char in the (Column Name) with no_char

data.columns = data.columns.str.replace('(', '')
print(data)

     production budget ) worldwide gross )
0                 110000          11000000
2                 200000           8000000
3                 100000           3000000
4                 245000          22000000
5                3900000           9000000
...                  ...               ...
5378            55000000         376856949
5379            40000000         166893990
5380           185000000         561137727
5381           175000000         140012608
5382            42000000          57850343

[4879 rows x 2 columns]

In [12]:
# Replacing the Right_Bracket char in the (Column Name) with no_char

data.columns = data.columns.str.replace(')', '')
print(data)

     production budget  worldwide gross
0                110000         11000000
2                200000          8000000
3                100000          3000000
4                245000         22000000
5               3900000          9000000
...                 ...              ...
5378           55000000        376856949
5379           40000000        166893990
5380          185000000        561137727
5381          175000000        140012608
5382           42000000         57850343

[4879 rows x 2 columns]

In [13]:
# Deleting the end space in the columns name

data.columns = data.columns.str.rstrip()
print(data)

     production budget worldwide gross
0               110000        11000000
2               200000         8000000
3               100000         3000000
4               245000        22000000
5              3900000         9000000
...                ...             ...
5378          55000000       376856949
5379          40000000       166893990
5380         185000000       561137727
5381         175000000       140012608
5382          42000000        57850343

[4879 rows x 2 columns]

In [14]:
# Replacing the space in the columns names with an underscore

data.columns = data.columns.str.replace(' ', '_')
print(data)

     production_budget worldwide_gross
0               110000        11000000
2               200000         8000000
3               100000         3000000
4               245000        22000000
5              3900000         9000000
...                ...             ...
5378          55000000       376856949
5379          40000000       166893990
5380         185000000       561137727
5381         175000000       140012608
5382          42000000        57850343

[4879 rows x 2 columns]

In [15]:
# Creating a CSV file from the cleaned Dataframe

data.to_csv('cleaned_data.csv')